# SPDX-License-Identifier: AGPL-3.0-or-later
# Copyright (C) 2022-2023 Dyne.org foundation <foundation@dyne.org>.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

version: "3"
services:
  inbox:
    image: ghcr.io/interfacerproject/zenflows-inbox-tarantool:main
    working_dir: /app
    ports:
      - "{{ port }}:80"
    environment:
      TT_HOST: "db:3500"
      TT_USER: "inbox"
      TT_PASS: "inbox"
      ZENFLOWS_URL: {{ zenflows }}
    depends_on:
      - db
  db:
    image: "ghcr.io/interfacerproject/zenflows-inbox-tarantool-db:main"
    restart: always
    volumes:
      - tt_data:/var/lib/tarantool
volumes:
  tt_data:

